{% extends "./recom/base.html" %} 
{% block content %}
{% load static %}
<div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Hurray your account is verified </h3>
            <div class="card-text text-center">
                Please login
            </div>
            <div class="text-center">
            <a class="btn btn-primary" href="login" >Login</a>
</div>
        </div>
    </div>
    </div>


    {% endblock content%}