{% extends "./recom/base.html" %} 
{% block content %}
{% load static %}

	<div class="container mt-5 mb-5">
		<div class="card">
			<div class="card-body">
			Hi {{user.username}}
			Please click on the link to confirm your registration,
			<h3 class="card title text-center">We have sent an email to you
			
			http://{{ domain }}{% url 'activate' uidb64=uid token=token %}

			</h3>
			<div class="card-text text-center">
				Please check your mail 
				<div class="card-text text-center">
					You can click here to <a href="login">login</a>
				</div>
			</div>

			</div>

		</div>

	</div>

{% endblock %}